.info-layout {
  min-width: 0;
  min-height: 0;
  flex: 1;
  display: flex;
  overflow: auto;
  padding: 12px;
  text-align: center;
}

.content {
  width: 100%;
  max-width: 480px;
  margin: auto;
  overflow-wrap: anywhere;
}

.text:global(.ant-typography) {
  margin: 0;
}
